/*@import "normalize.scss";*/
* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  width: 1180px;
  color: #a05050;
  background-color: rgba(139, 253, 229, 0.2);
}

.btn-main {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 20px;
  padding: 8px 10px;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  background: linear-gradient(to right, #fe985b, #fe4fa7);
  color: #ffffff;
}

.section-header {
  color: #2835f1;
  position: relative;
  height: 70px;
  background-color: rgba(139, 253, 229, 0.2);
  text-align: center;
}
.section-header__logo {
  padding: 20px;
}

.question-form {
  background: rgba(222, 253, 218, 0.3);
  width: 1180px;
  height: 250px;
  padding-top: 10px;
  padding-left: 40px;
  padding-bottom: 120px;
}
.question-form__question-text {
  font-family: "Montserrat", sans-serif;
  margin: 20px auto;
  font-weight: bold;
}
.question-form__answer-text {
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
  line-height: 2em;
}

.section-footer {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-footer__logo {
  text-align: center;
  font-style: 24px;
  line-height: 29px;
  font-weight: bold;
  margin-bottom: 30px;
}
.section-footer__nav {
  display: flex;
  justify-content: center;
  margin: 0 0 75px;
  padding: 0;
  list-style: none;
}
.section-footer__nav li + li {
  margin-left: 60px;
}
.section-footer__nav li a {
  font-style: 14px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #464646;
  text-decoration: none;
}
.section-footer__nav li a.active {
  color: #fe50a6;
}
